.tech-tag {
  display: inline-block;
  background-color: transparent;
  color: var(--text-color);
  padding: 8px 16px;
  margin: 6px;
  border-radius: 2px;
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px dashed var(--text-color);
  box-shadow: 5px 5px 0 0 rgba(50, 27, 27, 0.18);
}
@media screen and (max-width: 768px) {
  .tech-tag {
    font-size: 0.8rem;
    padding: 6px 12px;
    margin: 4px;
  }
}
