:root {
  --background-color: #f6d4b1;
  --background-secondary-color: #525252;

  --text-color: #525252;
  --text-secondary-color: #2a2a2a;
}
body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 0;
  /* overflow-y: auto; */
}

@font-face {
  font-family: public-pixel;
  src: url("/fonts/public-pixel.woff");
}
@font-face {
  font-family: chill;
  src: url("/fonts/chill.woff");
}

body {
  margin: 0;
  font-family: chill, public-pixel;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: "Source Code Pro", monospace;
}

.dashed-border {
  border: 1px dashed var(--text-color);
  width: 200px;
  margin: 40px 0;
}
.long-dashed-border {
  border: 1px dashed var(--text-color);
  width: 680px;
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  .dashed-border {
    margin: 20px 0;
  }
  .long-dashed-border {
    width: 90%;
    margin: 20px 0;
  }
}
